{% extends "base_auth.html" %}
{% load core_extras %} {# Load the correct template filter #}

{% block title %}Registro{% endblock %}

{% block content %}
    <div class="flex justify-center mb-6">
        <a href="/" class="text-2xl font-bold flex items-center justify-center space-x-2 text-primary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 013 19.875v-6.75zM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V8.625zM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V4.125z" />
            </svg>
            <span>UniManage</span>
        </a>
    </div>
    <h2 class="text-2xl font-bold text-center text-dark dark:text-white mb-6">Registrarse</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-4">
                <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700 dark:text-gray-300">{{ field.label }}</label>
                {{ field|add_class:"mt-1 block w-full px-3 py-2 border border-gray-300 dark:border-slate-600 dark:bg-slate-700 dark:text-white rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-primary focus:border-primary sm:text-sm" }}
                {% if field.help_text %}
                    <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">{{ field.help_text }}</p>
                {% endif %}
                {% for error in field.errors %}
                    <p class="mt-1 text-sm text-red-600">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="w-full bg-primary text-white py-2 px-4 rounded-md hover:bg-dark transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary">
            Registrar
        </button>
    </form>
    <div class="mt-6 text-center">
        <p class="text-sm text-gray-600 dark:text-gray-400">¿Ya tienes una cuenta? <a href="{% url 'login' %}" class="font-medium text-primary hover:text-dark">Iniciar Sesión</a></p>
    </div>
{% endblock %}